.root {
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.ingredients {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
}

.ingredients_type:last-child {
  margin-bottom: 0;
}
