.root {
  background-color: #1c1c21;
  border-radius: 40px;
  box-shadow: 0 4 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
}
