.root {
  position: relative;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  overflow: hidden;
}

.root::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent, rgba(138, 138, 155, 0.3), transparent);
  transform: translateX(-100%);
  z-index: 1;
}

.root button::before :global {
  animation: loading 1.3s infinite;
}
