.root {
  display: flex;
  margin-bottom: auto;
  overflow: hidden;
}

.tabs {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.link_inactive:hover {
  color: #fff;
}

.description {
  opacity: 0.4;
}
