.root {
  background-color: #1c1c21;
}

.navigation {
  width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.navigation_link {
  display: flex;
  text-decoration: none;
}

.navigation_logo {
  transform: translateX(-28%);
}
