.root {
  width: 600px;
  padding-bottom: 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.constructor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.constructor_hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 56px;
  overflow: hidden;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  opacity: 0.1;
}
